{% extends 'base.html.twig' %}

{% block title %}List Events{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="form-group">
        {{ form_start(form) }}
        <div class="form-control">
            {{ form_label(form.employeeName) }}
            {{ form_widget(form.employeeName, { 'attr': {'placeholder': 'Employee Name'} }) }}
            {{ form_label(form.eventName) }}
            {{ form_widget(form.eventName, { 'attr': {'placeholder': 'Event Name'} }) }}
        </div>
        <br>
        <div style="display: flex">
            &nbsp;
            {{ form_label(form.fromDate) }}
            {{ form_widget(form.fromDate) }}
            &nbsp;
            {{ form_label(form.toDate) }}
            {{ form_widget(form.toDate) }}
            &nbsp;
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="row-fluid">
        <div class="col-md-12">
            <div class='span12 box bordered-box orange-border'>
                <div class='box-header blue-background'>
                    <h2 class='title'>Events</h2>
                </div>
                <div class='box-content box-no-padding'>
                    <div class='responsive-table'>
                        <div class='scrollable-area'>
                            <table id="cities_table" class='table table-bordered table-striped'>
                                <thead>
                                <tr>
                                    <th>
                                        Employee Name
                                    </th>
                                    <th>
                                        Employee Mail
                                    </th>
                                    <th>
                                        Event Name
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Fee
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set totalPrice = 0 %}
                                {% for event in events %}
                                    <tr>
                                        <td>
                                            {{ event.employee.name }}
                                        </td>
                                        <td>
                                            {{ event.employee.email }}
                                        </td>
                                        <td>
                                            {{ event.event.name }}
                                        </td>
                                        <td>
                                            {{ event.date|date("Y-m-d") }}
                                        </td>
                                        <td>
                                            {{ event.fee }}
                                        </td>
                                    </tr>
                                    {% set totalPrice = totalPrice + event.fee %}
                                {% endfor %}
                                </tbody>
                            </table>
                            <div>

                                <div style="float: right">
                                <span class="border" style="padding: 20px">
                                        Total {{ totalPrice }}
                                </span>
                                </div>
                                <br>
                                <div class="pagination justify-content-center">
                                    {{ knp_pagination_render(events) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
