{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    {{ form_start(form) }}
    {{ form_widget(form.eventsFile) }}
    {{ form_errors(form.eventsFile) }}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
    {{ form_end(form) }}
    <ul>
        <li>Your controller at <code><a href="{{ '/media/mahgoub/800232D40232CF42/eventBooking/src/Controller/EventController.php'|file_link(0) }}">src/Controller/EventController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/media/mahgoub/800232D40232CF42/eventBooking/templates/event/index.html.twig'|file_link(0) }}">templates/event/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
